body {
    font-family: 'Garamond', serif;
    background-color: #f5e3d7;
    margin: 0;
    padding: 0;

    /* Set the background image to your SVG file */
    background-image: url('background.svg');
    /* Ensure the SVG retains its aspect ratio */
    background-size: contain;
    /* Set other background properties as needed */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-attachment: fixed; /* Keep the background fixed */
}

header {
    background-color: #8b4513;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header p {
    margin-bottom: 20px; /* Adjust the value as needed for more or less space */
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

nav {
    background-color: #8b4513;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Use Flexbox */
    justify-content: space-around; /* Distribute items evenly */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #8b4513;
    color: #fff;
    padding: 14px 16px;
    font-size: 1.2em;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5e3d7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #8b4513;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p {
    font-size: 1.2em;
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #8b4513;
    border-radius: 10px;
}

h2 {
    font-size: 1.5em;
    color: #8b4513;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li::before {
    content: "\261B"; /* Right-pointing index finger */
    color: #8b4513;
    margin-right: 10px;
}

.education-item {
    margin-bottom: 20px;
}

footer {
    background-color: #4B0082; /* Dark purple background */
    color: #FFF; /* White text */
    padding: 20px;
    text-align: center;
    font-family: 'Garamond', serif; /* Choose a suitable medieval font */
}

footer p {
    font-size: 1.2em;
    margin: 0;
}

/* Add decorative styles for the copyright symbol and separator */
footer p::before {
    content: "\00a9"; /* Copyright symbol */
    font-size: 1.2em;
    margin-right: 10px;
}

footer p::after {
    content: "|"; /* Separator */
    margin-left: 10px;
    margin-right: 10px;
}
